<?xml version="1.0"?>
<configuration>

	<!-- Bağlantı dizeleri -->
	<connectionStrings>
		<add name="Db"
			 connectionString="Server=.\SQLEXPRESS;Database=ArticleApp;Trusted_Connection=True;TrustServerCertificate=True" />
	</connectionStrings>

	<appSettings>
		<!-- jQuery zorunluluğunu kaldırır -->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.web>
		<compilation targetFramework="4.8" debug="true" />
		<httpRuntime targetFramework="4.8" />

		<!-- Forms Auth AÇIK: tüm site login ister -->
		<authentication mode="Forms">
			<forms loginUrl="~/Pages/Login.aspx"
				   timeout="43200"
				   slidingExpiration="true" />
		</authentication>

		<!-- Varsayılan kural: anonimlere kapalı -->
		<authorization>
			<deny users="?" />
		</authorization>

		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	</system.web>

	<!-- İstisnalar: Login/Register/Default/Search anonim erişime açık -->
	<location path="Pages/Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Register.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Default.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages/Search.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

</configuration>
